body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #2f3e46 50%, #354f52 50%);
  font-family: "Roboto", sans-serif;
  color: #cad2c5;
}

a {
  color: inherit;
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.profile-container {
  background-color: #354f52;
  border: 2px solid #cad2c5;
  border-radius: 10px;
  padding: 20px;
  max-width: 570px;
}

.details-container {
  display: flex;
}

.me {
  border: 5px solid #cad2c5;
  border-radius: 95px;
}

.details {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  margin: 0;
  font-size: 4em;
}

.location,
.occupation {
  margin: 0;
  font-size: 2em;
}

.bio {
  font-size: 1.3em;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5em;
}

/* On screens that are 650px or less */
@media screen and (max-width: 650px) {
  a {
      font-size: 0.8em;
  }

  .profile-container {
    border: 0;
    background-color: #354f52;
    border-top: 2px solid #cad2c5;
    border-bottom: 2px solid #cad2c5;
    padding: 20px;
    max-width: initial;
    border-radius: 0;
  }

  .me {
    height: 150px;
  }

  .name {
    font-size: 2em;
  }

  .location,
  .occupation {
    font-size: 1em;
  }

  .bio {
    font-size: 1em;
  }
}
